.form-section{
    display: grid;
    width: 40%;
    margin: 2% auto;
    border: solid 3px #d12f2f;
    border-radius: 10px;
    padding: 20px;
}

.contactPage {
	text-align: center;
	width: 50%;
	margin: 2% auto;
	border: solid 3px #d12f2f;
	border-radius: 10px;
	padding: 20px;
}

.feedbackForm {
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin: 0 auto;
	padding: 20px;
}

.contact-button {
	background-color: #d12f2f;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	color: white;
}

.fieldSuggestion {
    height: 100px;
    margin-top: 20px;
}

.errorMessage {
    text-align: left;
    color: #d12f2f;
    font-size: 1rem;
    margin: 0px;
}