.form-section{
    width: 40%;
    margin: 2% auto;
    border: solid 3px #d12f2f;
    border-radius: 10px;
    padding: 20px;
	
}

.contactPage {
	height: 100%;
	text-align: center;
	width: 50%;
	margin: 2% auto;
	border: solid 3px #d12f2f;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedbackForm {
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin: 0 auto;
	padding: 20px;
}

.contact-button {
	background-color: #d12f2f;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	color: white;
}

.fieldSuggestion {
    height: 100px;
    margin-top: 20px;
}

.errorMessage {
    text-align: left;
    color: #d12f2f;
    font-size: 1rem;
    margin: 0px;
}

@media (max-width:1200px) {
	.contactPage{
		height:100%;
		width:60%;
	}
}
@media (max-width:900px) {
	.contactPage{
		height:100%;
		width:80%;
	}
}
@media (max-width:789px) {
	.contactPage{
		height:100%;
		width:80%;
	}
	.contactMessage{
		font-size:1.5rem ;
	}
	.contact-button {
		width:100%;
		margin: 10px auto;
		height: 100%;
	}
	.feedbackForm{
		width:100%;
		max-width: 100%;

	}
}
@media (max-width:481px) {
	.contactMessage{
		font-size:1.2rem ;
		font-weight: bold;
	}


}