.energiser-page-title {
	background-color: #DC514A;
	width: auto;
	text-align: center;
	padding: 15px;
}

.energiser-page-container {
	border: 3px solid #DC514A;
	width: 65%;
	text-align: center;
	padding: 20px;
	margin: 2% auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.energiser-page-name {
	padding: 20px;
	font-size: 2rem;
}

.energiser-page-partduration {
	display:flex;
	justify-content: space-evenly;
	padding: 20px;
	font-size: 1.2rem;
}

.energiser-page-how {
	font-size: 1.5rem;
	font-weight: bold;
}
