.energiser-page-title {
	width: auto;
	text-align: center;
	padding: 15px;
	margin-top: 3rem;
}

.energiser-page-container {
	color: var(--primary);
    background-color: var(--tertiary);
	border: 3px solid white;
	width: 65%;
	text-align: center;
	padding: 20px;
	margin: 2% auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.energiser-page-name {
	text-transform: lowercase;
	padding: 20px;
	font-size: 2rem;
	margin-left: 100px;
	width: 80%;
}

.energiser-page-name::first-letter {
  text-transform: uppercase;
}

.energiser-page-description{
	font-size: 1.5rem;
	margin-top: 3rem;
}

.energiser-page-partduration {
	display:flex;
	justify-content: space-evenly;
	padding: 20px;
	font-size: 1.2rem;
}

.energiser-page-type {
	font-size: 1.2rem;
}

.energiser-page-how {
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}

.energiser-page-Instruction {
	 text-align: left;
    list-style-type: none;
    padding-right: 20px;
	margin-bottom: 20px;
}

.energiser-page-Instruction li{
	margin-bottom: 10px;
}

