.navbar{
    display:flex;
    justify-content: space-between;
    background-color: var(--primary);
    border-bottom: lightgrey solid 0.5px;
    background-color: transparent;
    height: 70px; 
}

.nav-links {
  font-weight: bold;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  width: 40%;
  height: 80px;
}

.nav-links {
  display: flex;
  align-items:center;
  justify-content:flex-end;
  width: 40%;
  height: 80px;
  color: var(--secondary);
}
.nav-links a{
  padding: 14px 16px;
  color: var(---tertiary);
  transition: 0.5s ease;
}
.nav-links a:hover{
  background-color: transparent;
  border-radius: 20px;
  transform: translateY(-2px);
  text-decoration: underline;
}
 .cyf-logo a img:hover{
  transform: translateY(-2px);
  transition:0.5s ease-in-out;
  text-decoration: underline;
} 
.burger-menu{
  display: none;
}

.burger-menu div{
  width: 2rem;
  border-radius: 5px;
  height: 0.25rem;
  transform-origin: 1px;
  transition: all 0.35s linear;
}
@media screen and (max-width: 700px){

.burger-menu{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height:2rem;
  width :2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 4;
}
}
  

