.post {
  color: var(--primary);
    background-color: var(--tertiary);
	border: 3px solid white;
	width: 65%;
	text-align: center;
	padding: 20px;
	margin: 2% auto;
    color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post__header{

}
.post__comments{
}
.post__form {
    display: flex;
    margin-top: 5px;
}
.post__input {
    flex: 1;
}
.post__input ::placeholder {
    padding-left: 10px;
}
.post-button{
    background-color: var(--primary);
	height: 55px;
	border: white 1px solid;
	padding: 0 20px;
	margin-left:2px ;
	color: var(--tertiary);
	cursor: pointer;
    font-weight: bold;
}

@media (max-width:1200px) {
	
}
@media (max-width:900px) {

}
@media (max-width:789px) {

	
}
@media (max-width:481px) {


}