.publishPage {
	text-align: center;
	width: 50%;
	margin: 2% auto;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: solid 3px #d12f2f;
}

.publishMessage {
	padding-top: 30px;
}

.publishForm {
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin: 0 auto;
	padding: 20px;
}

.field {
	height: 35px;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	padding: 20px;

}
.my-select {
	height: 35px;
	border: 1px solid grey;
	border-radius: 10px;
	margin-top: 20px;
	color: gray;
	text-align: center;
	font-size: 16px;
}
.fieldInstructions {
	height: 150px;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
}

.publishMessage {
	color: var(--secondary);
}

.publish-button {
	background-color: var(--tertiary);
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	color: white;
}
@media (max-width:1200px) {
	.publishPage{
		height:100%;
		width:60%;
	}
}
@media (max-width:900px) {
	.publishPage{
		height:100%;
		width:80%;
	}
}
@media (max-width:789px) {
	.publishPage{
		height:100%;
		width:80%;
	}

}
@media (max-width:481px) {
	.publishMessage{
		font-size:1.2rem ;
		font-weight: bold;
	}
	.field{
		width:100%;
	}
	.publishForm{
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100%;
		margin:0 ;
		padding: 0;
	}
	.my-select{
		width: 100%;
	}
	.fieldInstructions{
		width: 100%;
	}
	.publish-button{
		width: 100%;
	}


}
