:root {
	--primary: #ffffff;
	--secondary: #18191a;
	--tertiary: #d12f2f;
}
[data-theme='dark'] {
	--primary: #18191a;
	--secondary: #ffffff;
	--tertiary: #d12f2f;
  }

#root {
	background-color: var(--primary);
}
.app {
	background-color: var(--primary);
}

body {
	font-family: 'Lato', sans-serif !important;
}

.logo {
	width: 100px;
}
.main {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.main-content {
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	width: 100%;
	flex-direction: row;
	margin: 0 auto;
}
.sideBar {
	border-right: lightgrey solid 0.5px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 250px;
	position: static;
	margin-right: 10px;
}
.sidebarDrawer {
	display: none;
}
.resetBtn {
	min-width: 100%;
}
.filters {
	margin: 2rem 0 0 2rem;
}

.message {
	color: var(--secondary);
	text-align: center;
	margin-top: 1px;
	padding: 1%;
	width: fit-content;
	margin: auto;
}

.cardPag {
	width: 100%;
}

.energiserCards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap:1.5rem;
}

@media (min-width: 700px) {
	.energiserCards {
		flex-direction: row;
	}
}

ul {
	padding-left: 0;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0;
	border-radius: 10px;
	transition: 1s;
	height: 100%;
	min-width: 100%;
	padding-bottom: 10px;
}
.card-container {
	width:25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2 {
	font-size: 20px;
}
.card img {
	margin: 1rem 1rem;
	align-self: center;
	width: 50%;
}
a:hover {
	text-decoration: none;
}

.randomSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sideBar {
	color: var(--secondary);
	border-right: lightgrey solid 0.5px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 250px;
}

.sidebarDrawer {
	display: none;
}

#demo-radio-buttons-group-label {
	color: var(--secondary);
}

.resetBtn {
	min-width: 100%;
}
.filters {
	margin: 2rem 0 0 2rem;
}
.pagDiv {
	display: flex;
	justify-content: center;
}

.sortFilterInDrawer {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1300px){
.message {
	font-size: 3.5rem;
}
.energiserCards {
	gap:4rem;
}
}
@media only screen and (max-width: 1200px){
	.main-content{
		flex-direction: column;
	}
.energiserCards {
	gap:2rem;
}
.sideBar {
		display: none;
	}
	.sidebarDrawer {
		display: block;
		margin-left: 20px;
		margin-bottom: 10px;
		align-self: flex-start;
	}
}

@media only screen and (max-width: 1180px){
.message {
	font-size: 3rem;
}
.energiserCards {
	gap:1.5rem;
}
}
@media only screen and (max-width: 900px){
	
	.message {
	font-size: 2.5rem;
}
.energiserCards {
	gap:5rem;
}

}
@media only screen and (max-width: 768px) {
	.main-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.message {
		font-size: 2.5rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.energiserCards {
		width: 100%;
		justify-content: center;
		gap:1.5rem;
	}
	
	.card-container {
		min-width: 30%;
		max-width: 30%;
		justify-content: center;
		margin-right: 3rem;
	}
}
@media only screen and (max-width: 700px){
	.main-content{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
.message {
	font-size: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.energiserCards {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-container {
		min-width: 50%;
		max-width: 50%;
	}
} 
