:root {
	--primary: #ffffff;
	--secondary: #18191a;
	--tertiary: #d12f2f;
}
[data-theme='dark'] {
	--primary: #18191a;
	--secondary: #ffffff;
	--tertiary: #d12f2f;
  }

#root {
	background-color: var(--primary);
}
.app {
	background-color: var(--primary);
}
.logo {
	width: 100px;
}
.main {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.main-content {
	display: flex;
	flex-direction: column;
	background-color: var(--primary);
	width: 100%;
}

.message {
	color: var(--secondary);
	text-align: center;
	margin-top: 1px;
	padding: 1%;
	width: fit-content;
	margin: auto;
}

.cardPag {
	width: 100%;
}

.energiserCards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

@media (min-width: 700px) {
	.energiserCards {
		flex-direction: row;
	}
}

ul {
	padding-left: 0;
}
.card-container {
	min-width: 25%;
	max-width: 25%;
	margin: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem 0;
	border-radius: 10px;
	transition: 1s;
	height: 100%;
	min-width: 100%;
	padding-bottom: 10px;
}
h2 {
	font-size: 20px;
}
.energiserCards li {
	list-style: none;
}

.card img {
	margin: 1rem 1rem;
	align-self: center;
	width: 50%;
}
a:hover {
	text-decoration: none;
}
.randomSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sideBar {
	color: var(--secondary);
	border-right: lightgrey solid 0.5px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 250px;
}

.sidebarDrawer {
	display: none;
}

#demo-radio-buttons-group-label {
	color: var(--secondary);
}

.resetBtn {
	min-width: 100%;
}
.filters {
	margin: 2rem 0 0 2rem;
}
.pagDiv {
	display: flex;
	justify-content: center;
}

.sortFilterInDrawer {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1300px) {
	.sideBar {
		display: none;
	}

	.sidebarDrawer {
		display: flex;
		justify-content: center;
	}
}
